@model WebApplication2.Models.Reader

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reader</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReaderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReaderPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderBorrowQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReaderBorrowQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderPhonenumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReaderPhonenumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReaderEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReaderDepartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderRegisterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReaderRegisterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReaderPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReaderGender.GenderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderRoles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReaderRoles.RoleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReaderStatus.StatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReaderType.TypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReaderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
