@model IEnumerable<WebApplication2.Models.Reader>

@{
    ViewData["Title"] = "List";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReaderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReaderPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReaderBorrowQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReaderPhonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReaderEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReaderDepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReaderRegisterDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReaderPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReaderGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReaderRoles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReaderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReaderType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReaderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReaderPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReaderBorrowQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReaderPhonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReaderEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReaderDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReaderRegisterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReaderPhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReaderGender.GenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReaderRoles.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReaderStatus.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReaderType.TypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReaderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReaderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReaderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
